* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #333;
    font-family: 'Roboto', sans-serif;
}

:root {
    --main-color: #3B8C6E;
    --complement-color: #1E5959;
    --white-color: #eee;
    --default-size: 16px;
}

.hide {
    display: none !important;
}

#overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

#modal {
    max-width: 600px;
    background: var(--main-color);
    padding: calc(var(--default-size) * 1.5);
    color: var(--white-color);
    border-radius: var(--default-size);
    -webkit-box-shadow: 0px 0px 21px 0px rgba(30,89,89,1);
    -moz-box-shadow: 0px 0px 21px 0px rgba(30,89,89,1);
    box-shadow: 0px 0px 21px 0px rgba(30,89,89,1);
}

#modal h2, #modal p, #modal-close {
    margin-bottom: var(--default-size);
}

#modal p {
    font-size: var(--default-size);
}

#modal h2 {
    font-size: calc(var(--default-size) * 1.5);
}

#modal-close {
    height: calc(var(--default-size)*2);
    width: calc(var(--default-size)*2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9999px;
    border: 2px solid var(--white-color);
    cursor: pointer;
}

#modal-close, #modal-content button {
    transition: background .5s, color .5s;
}

#modal-close:hover, #modal-content button:hover {
    background: var(--white-color);
    color: var(--main-color);
}

#modal-header {
    display: flex;
    justify-content: flex-end;
}

#modal-content button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--default-size);
    padding: calc(var(--default-size) / 2) var(--default-size);
    border: 0;
    background: var(--main-color);
    border: 2px solid var(--white-color);
    color: var(--white-color);
    border-radius: var(--default-size);
    cursor: pointer;
}

#modal-content button span {
    margin-left: calc(var(--default-size) / 4);
    font-size: calc(var(--default-size) * 1.25);
}